@media (max-width: 768px) {
	.services{
		display: block;
	}
	.overlay{
		opacity: 1;
		background-color: transparent;
	}
	.staffOverlay{
		opacity: 0;
		background-color: grey;
	}
	.thumbImg{
		opacity: 0.4;
	}
}