/*
font-family: 'Permanent Marker', cursive;
font-family: 'Sanchez', serif;
*/

body {
	background-image: url("./images/dark-triangles.png");
	font-family: 'Sanchez', serif;
	padding-top: 70px;
}
.jumbotron {
	background-size: cover;
    background-repeat: no-repeat;
}
.homepage{
	background-image: url("./images/sandro-schuh-80814-copy.jpg");
}
.logo{
	font-family: 'Permanent Marker', cursive;
}

/*.blurb {
	background-color: gray;
}*/
.thumbnail {
	background-color: transparent;
	position: relative;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: grey;
}

.thumbnail:hover .overlay{
	opacity: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.text{
	color: white;
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  /*background: #9d9d9d;*/
  background: grey;
  padding: 10px 20px 10px 20px;
  border: solid #686c6e 0px;
  text-decoration: none;
}

.btn:hover {
  background: #686c6e;
  text-decoration: none;
}
.btn:active{
	background: #686c6e;
	text-decoration: none;
}
iframe {
	display: none;
}
.bio{
	color: white;
}
.serviceType{
	color: white;
}
.testing{
	padding-top: 100px;
	height: 500px;
}
.navtags{
	position: fixed;
}
.eShop{
	background-image: url("./images/parker-burchfield-224850.jpg");
}

.careerPic {
	background-image: url("./images/clem-onojeghuo-210707.jpeg");
}
.formPic{
	background-image: url("./images/helloquence-51716.jpg");
}