/*
font-family: 'Permanent Marker', cursive;
font-family: 'Sanchez', serif;
*/

body {
	background-image: url("./images/backgrounds/dark-triangles.png");
	font-family: 'Sanchez', serif;
	padding-top: 70px;
}
.dropdown-menu{
	background-color: #333;
}
.dropdown-menu>li>a {
	color: #9d9d9d;
}
.jumbotron {
	background-size: cover;
    background-repeat: no-repeat;
}
.homepage {
	background-image: url("./images/backgrounds/sandro-schuh-fade.jpg");
}
.logo{
	font-family: 'Permanent Marker', cursive;
}

.thumbnail {
	background-color: transparent;
	position: relative;
	border: groove #686c6e 2px;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: grey;
	border: groove #686c6e 2px;
}

.thumbnail:hover .overlay{
	opacity: 1;
	border: groove #686c6e 2px;
}

/*.image {
  display: block;
  width: 100%;
  height: auto;
}*/

.text{
	color: white;
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
a:hover{
	border: dotted #686c6e 0px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: grey;
  padding: 10px 20px 10px 20px;
  border: solid #686c6e 2px;
  text-decoration: none;
}

.btn:hover {
 	background: #686c6e;
 	text-decoration: none;
	border: solid #686c6e 2px;
}
.btn:active{
	background: #686c6e;
	text-decoration: none;
	border: solid #686c6e 2px;
}

.bio{
	color: white;
	margin-bottom: 100px;
}


.eShop{
	background-image: url("./images/backgrounds/parker-burchfield-fade.jpg");
}
.careerPic {
	/*background-image: url("./images/clem-onojeghuo-210707.jpeg");*/
	background-image: url("./images/backgrounds/clem-onojeghuo-fade.jpeg");

}
.formPic{
	background-image: url("./images/backgrounds/helloquence-fade.jpg");
}
/*.airsoftJumbo{
	background-image: url(./images/helmet.jpg);
}
.coachJumbo{
	background-image: url(./images/geoff-scott-124251.jpg);	
}
.enterJumbo{
	background-image: url(./images/james-sutton-198306.jpg);
}
.secureJumbo{
	background-image: url(./images/collin-armstrong-195852.jpg);
}
.trainJumbo{
	background-image: url(./images/nicolas-barbier-garreau-256433.jpg);
}*/
.aboutPic{
	background-image: url(./images/backgrounds/nasty_fabric.png);
	background-repeat: repeat;
	background-size: auto;
}
.content{
  	min-height: calc(100vh - 150px);
}
footer{
	background-color: #686c6e;
	height: 150px;
	color: white;
	padding-top: 20px;
	border-style: dotted;
	border-color: #333;
	border-width: 2px 0px 0px 0px;
}
.icons {
	height: 48px;
	width: 48px;
}
.divider {
	color: #9d9d9d;
	font-family: 'Permanent Marker', cursive;
	height: 100px
}
.divHeader{
	font-size: 50px
}
.overview{
	color: white;
	/*margin: 40px 50px 40px 50px;*/
}
/*Gallery*/
.carousel {
	margin-bottom: 100px;
}
.carousel-inner img {
  margin: auto;
}

/*Staff Modal*/
.profilePic{
	background-color: black;
	/*background-image: url(./images/backgrounds/nasty_fabric.png);*/
	cursor: pointer; 
}
.staff{
	font-size: 25px;
	margin-bottom: 100px;
}
.modal-content {
	background-image: url(./images/backgrounds/nasty_fabric.png);
}

/*About page*/
.services{
	margin: 10px;
	background-image: url(./images/backgrounds/dark-triangles.png);
}
/*Download*/
.forms {
	background-image: url(./images/backgrounds/dark-triangles.png);
}
